@model Exigent_ViewModels.Admin.ForceChangePasswordViewModel

@{
    ViewBag.Title = "FirstChangePassword";
    Layout = "~/Views/Shared/_LayoutWithoutLogin.cshtml";
}

@{
    string styleDisplayValue = "none";
    string MessageType = "success";
    if (ViewBag.MessageType != null)
    {
        MessageType = ViewBag.MessageType.ToString();

        if (ViewBag.MessageType.ToString() == "" || ViewBag.MessageType.ToString() == null)
        {
            styleDisplayValue = "none";
        }
        else
        {
            styleDisplayValue = "block";
        }
    }
}

@section MyCss{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/PasswordStrengthStyle.css")">
}

<body>
    <nav class="navBg">
        <div class="forgetLogo"> <img src="~/Content/materialize/images/login-logo.png" /></div>
    </nav>
            <div class="container bodyPart">
                            <div class="GridContainer" id="forceChangePassword">
                                <h1 class="center">

                                   Change Password
                                </h1>
                                <h6 class="center">
                                    @*@if (Model.IsPwdExpire)
                                    {
                                        @Resources.LoginResource.ExigentHeader3
                                        <p class="fs16">
                                            @Resources.LoginResource.ChangePasswordMessage3
                                        </p>
                                    }
                                    else
                                    {*@
                                        <p class="fs16">
                                            @Resources.LoginResource.ChangePasswordMessage3
                                        </p>
                                    @*}*@
                                </h6>
                                <div class="Grid">
                                    <div class="row">

                                            <div id="divAlert" class="alert-dismissable alert-@MessageType col s12 m8 offset-m2 l6 offset-l3 msgFormatting" style="display:@styleDisplayValue">
                                                <div class="closeBtn"><button type="button" class="closeAlert waves-effect waves-light btn btnSmallCustom-1" data-dismiss="alert">×</button></div>
                                                @Html.ValidationSummary(true)
                                            </div>
                                    </div>

                                    @using (Html.BeginForm("ForceChangePassword", "Login", FormMethod.Post, new { @id = "forceChangePasswordForm", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        @Html.HiddenFor(model => model.UserId)

                                        <div class="row">
                                            <div class="input-field col s12 m8 offset-m2 l6 offset-l3 left">
                                                @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control", maxlength= "14",tabindex="1" })
                                                <label for="OldPassword">Old Password<span class="required">*</span></label>
                                                <p class="required">@Html.ValidationMessageFor(model => model.OldPassword, null)</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12 m8 offset-m2 l6 offset-l3 left">                     
                                                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", maxlength = "14",tabindex="2" })
                                                <label for="NewPassword">New Password<span class="required">*</span></label>
                                                <p class="required">@Html.ValidationMessageFor(model => model.NewPassword, null)</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12 m8 offset-m2 l6 offset-l3 left">
                                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", maxlength = "14" ,tabindex="3"})
                                                <label for="ConfirmPassword">Confirm Password<span class="required">*</span></label>
                                                <p class="required">@Html.ValidationMessageFor(model => model.ConfirmPassword, null)</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12 m8 offset-m2 l6 offset-l3 left BtnsAlign">
                                                <input type="submit" value=@Html.Raw(@Resources.LoginResource.ChangePasswordButtonText) class="waves-light btn" tabindex="4"/>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                          </div>
       </body>


