@model Exigent_ViewModels.Admin.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutWithoutLogin.cshtml";
}

@{
    string styleDisplayValue = "none";
    string MessageType = "success";
    if (ViewBag.MessageType != null)
    {
        MessageType = ViewBag.MessageType.ToString();

        if (ViewBag.MessageType.ToString() == "" || ViewBag.MessageType.ToString() == null)
        {
            styleDisplayValue = "none";
        }
        else
        {
            styleDisplayValue = "block";
        }
    }
}


@section MyScripts {
    <script type="text/javascript">


        var specialKeys = new Array();
        specialKeys.push(8); //Backspace
        specialKeys.push(9); //Tab
        specialKeys.push(46); //Dot
        //specialKeys.push(32); //Space
        specialKeys.push(45); //Desh
        specialKeys.push(42); //Star
        specialKeys.push(36); //Dollar
        specialKeys.push(35); //Hash
        specialKeys.push(95); //Caret(^)
        specialKeys.push(95); //Under Score
        specialKeys.push(44); //Coma
        specialKeys.push(58); //Colon
        specialKeys.push(59); //Semi Colon
        specialKeys.push(60); //Less Than
        specialKeys.push(62); //Greater Than
        specialKeys.push(47); //Fwd Slash
        specialKeys.push(92); //back Slash

        $(document).ready(function () {
            SanitoryInput();
        });

        function SanitoryInput() {
            $("input[type='text']").bind("keypress", function (e) {
                var keyCode = e.which ? e.which : e.keyCode;
                var ret = ((keyCode == 34) || (keyCode == 32) || (keyCode >= 48 && keyCode <= 57) || (keyCode >= 64 && keyCode <= 90) || (keyCode >= 97 && keyCode <= 122) || specialKeys.indexOf(keyCode) != -1);
                return ret;
            });


            $("textarea").bind("keypress", function (e) {
                var keyCode = e.which ? e.which : e.keyCode;
                var ret = ((keyCode == 32) || (keyCode >= 48 && keyCode <= 57) || (keyCode >= 64 && keyCode <= 90) || (keyCode >= 97 && keyCode <= 122) || specialKeys.indexOf(keyCode) != -1);
                return ret;
            });

            $("input[type='text']").focusout(function () {
                //console.log($(this).data("globalvalidation"));
                if ($(this).data("globalvalidation") == "undefined ") { //Skip for all fields marked with data attribute 'globalvalidation' to 'false' e.g. ValidationExpression field in customField functionality
                    $(this).val($(this).val().replace(/[\*\^\'\!\'\~\<\>\$]/g, '')); // removed (:) collon
                }
            });

            $("textarea").focusout(function () {
                $(this).val($(this).val().replace(/[\*\^\'\!\"\'\~\<\>\$]/g, '')); // removed (:) collon
            });
        }

    </script>
}

<body>
    <nav class="navBg">
        <div class="forgetLogo"> <img src="~/Content/materialize/images/login-logo.png" /></div>
    </nav>
    <div class="container bodyPart">
        <div id="successMsg" class="GridContainer successMsg" style="display:none">
            <i class="material-icons dp48 fontIcon successIcon">done</i> Verification mail sent to your registered Email Id, Please check.

            <div class="row">
                <div class="input-field col s12">
                    <a class="waves-effect waves-light btn" href="@Url.Action("Index","Login")">Return to Login</a>
                </div>
            </div>
        </div>
        <div class="GridContainer" id="passwordReset">

            <h1 class="center">

                Forgot Password?
            </h1>
            <div class="Grid">
                <p class="center">Fear not. We'll email you instructions to reset your password.</p>
                <div class="row">
                    <div id="divAlert" class="alert-dismissable alert-@MessageType col s12 m8 offset-m2 l6 offset-l3 msgFormatting" style="display:@styleDisplayValue">
                        <div class="closeBtn"><button type="button" class="closeAlert waves-effect waves-light btn btnSmallCustom-1" data-dismiss="alert">×</button></div>
                        @Html.ValidationSummary(true)
                    </div>
                </div>
                @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @id = "forgotPasswordForm", role = "form" }))
                {
                    
                    <div class="row">
                        
                        <div class="input-field col s12 m8 offset-m2 l6 offset-l3 left">
                            @Html.TextBoxFor(model => model.Email, new { id = "email", @class = "validate left", tabindex = "1", autocomplete = "on", maxlength="100" })
                            <label for="email">Email<span class="required">*</span></label>
                            <p class="required">@Html.ValidationMessageFor(model => model.Email)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m8 offset-m2 l6 offset-l3 left">
                            @Html.TextBoxFor(model => model.UserName, new { id = "username", @class = "validate left", tabindex = "1", autocomplete = "on", maxlength="100" })
                            <label for="email">Username<span class="required">*</span></label>
                            <p class="required">@Html.ValidationMessageFor(model => model.UserName)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m8 offset-m2 l6 offset-l3 left BtnsAlign">
                            <button class="waves-light btn" type="submit" name="button" id="button" value="Reset Password" tabindex="2">Reset Password</button>
                            <a class="waves-light btn cancelBtn" href="@Url.Action("Index","Login")" tabindex="3">Return to Login</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>

<script>
    $(document).ready(function (e) {
        var isEmailSent = "@Model.isEmailSent"
        if (isEmailSent != null && (isEmailSent == true || isEmailSent == "True")) {
             
            $('#passwordReset').fadeOut('fast');
            $('#successMsg').fadeIn('fast');
        }

    });
</script>
<script src="~/Content/materialize/js/materialize.js"></script>